{% extends 'dash/base.html' %}

{% block content %}
<h1>{{ endpoint.ip_address }}</h1>

<ul>
<li>
    Mac address - {{ endpoint.mac_address }}
</li>

<li>
    Hostname - {{ endpoint.hostname }}
</li>

<li>
    Last seen - {{ endpoint.last_seen }}
</li>

<li>
Recent destinations -
<ul>
{% if traffic %}
    {% for t in traffic %}
        <li>{{ t.ip_dst }}</li>
        <ul>
            <li>Data received - {{ t.data_in }} bytes</li>
            <li>Data sent - {{ t.data_out }} bytes</li>
        </ul>
    {% endfor %}
{% else %}
    <p>No recent traffic recorded.</p>
{% endif %}
</ul>
</li>
</ul>
{% endblock %}
